<?xml version="1.0" encoding="UTF-8"?>
<suite name="Parallel Test Suite" parallel="tests" thread-count="2">
    <test name="Run Firefox">
        <parameter name="myBrowser" value="firefox"/>
        <classes>
            <class name="testPackage.TestParallel" />
        </classes>
    </test>
    <test name="Run Chrome">
        <parameter name="myBrowser" value="chrome"/>
        <classes>
            <class name="testPackage.TestParallel" />
        </classes>
    </test>

</suite>